<div class="container">            
    <table class="table table-hover" >
      <thead style="background-color: black; color: white;">
        <tr>
          <th>Cripto ID</th>
          <th>Cripto Name</th>
          <th>Cripto Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crypto of cryptos; index as i">
          <td>{{crypto.id}}</td>
          <td>{{crypto.name}}</td>
          <td id="total">
            {{crypto.value | currency: 'USD'}}
            <i *ngIf="crypto.arrow === 2" style="color: green;">&#x2191;</i>
            <i *ngIf="crypto.arrow === 1" style="color: red;">&#x2193;</i>
          </td>
          <td>
            <button type="submit" class="btn btn-warning" (click)="emitCryptoItem(crypto)" id="button">Buy/Sell</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
